body{
font-family: 'Montserrat', sans-serif;
text-align: center;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
  font-weight: 900;
}

p{
  color: #8f8f8f;
}

/* containers */
.container-fluid{
  padding: 7% 15%;
}

/* section */
.colored-section{
  background-color: #ff4c68;
 color: #fff;
}
.white-section{
  background-color: white;
}

/* headings */
.big-heading{
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading{
  font-size: 3rem;
  line-height: 4.5rem;
}

/* title section */

 #mainDisplay{
  padding-top: 5%;
}

#title .container-fluid{
  padding : 3% 15%;
  text-align: left;
}

.title-image{
width: 50%;
 /* position: fixed; */
transform: rotate(25deg);
margin-left: 30%;
margin-top: 30px;
}

/* feautre section */
#features{
  margin-top: 5rem;
}

.feautre-title{
  font-size: 1.5rem;
}

/* navbar */
.navbar{
padding-bottom: 4rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0px 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
}

/* download-button */
.download-button{
 margin-top:3rem;
 /* margin-left: 0.5rem; */
 margin-right: 0.5rem;
}



/* iconsmid */
.fas{
  color: #ef8172;
  padding: 1rem;
  /* font-size: 3rem; */
}
.fas:hover{
  color: #ff4c68;
}



/* testimonial section */
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin: 20px;}

.testimonial-text{
  font-size: 3rem;
  line-height: 4.5rem;
}

  #testimonials{
    background-color: #ef8172;
    margin-top: 40px;
  }
  #press{
    background-color: #ef8172;
      padding-bottom: 3%;
  }
  .press-img{
    width: 15%;
    margin: 20px 15px;
  }
/* ///////////////////pricing section////////////////// */
#pricing{
  padding: 100px;
}
.pricing-coloumn{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 4.5rem;
}
/* CTA */
 .cta-heading{
  font-size: 3.5rem;
  padding: 0% 7%;
}

/* footer */
#footer{
  padding: 5% 7%;
}
.footer-heading
{
  color: grey;
}
.social-icon{
  margin: 20px 10px;
}

/* media query */
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
